/SimpleManagerContact.portal/bin
/SimpleManagerContact.portal/obj
/SimpleManagerContact.core/bin
/SimpleManagerContact.core/obj
/SimpleManagerContact.model/bin
/SimpleManagerContact.model/obj
/SimpleManagerContact.Tests/bin
/SimpleManagerContact.Tests/obj